<template>
  <v-container fluid class="px-0"> 
      <Header/>
      <v-layout
        text-xs-center
        wrap
        fluid
      >
        <v-img
          :src="require('../assets/images/wmi-header-image.png')"
          contain
        ></v-img>
      </v-layout>
      <ViewToggle/>
      <Search/>
      <Cards/>
  </v-container>
</template>

<script>
  import Header from '../components/Header.vue'
  import ViewToggle from '../components/ViewToggle.vue'
  import Search from '../components/Search.vue'
  import Cards from '../components/Cards.vue'

  export default {
    name: 'Home',
    components: {
      Header,
      ViewToggle,
      Search,
      Cards,
    },
    data () {
      return {
        //
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>

