.bg-primary {
  background-color: $primary !important;
}
.bg-accent {
  background-color: $accent !important;
}

.text-din-black {
  font-family: 'DINPro Black', sans-serif !important;
  font-weight: 900;
}
.text-din-bold {
  font-family: 'DINPro Bold', sans-serif !important;
  font-weight: 700;
}
.text-din-light {
  font-family: 'DINPro Light', sans-serif !important;
  font-weight: 100;
}
.text-din-medium {
  font-family: 'DINPro Medium', sans-serif !important;
  font-weight: 500;
}
.text-din-regular {
  font-family: 'DINPro Regular', sans-serif !important;
  font-weight: 300;
}