@font-face {
  font-family: 'DINPro Black';
  src: url('/assets/fonts/DINPro-Black.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro Bold';
  src: url('/assets/fonts/DINPro-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro Light';
  src: url('/assets/fonts/DINPro-Light.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro Medium';
  src: url('/assets/fonts/DINPro-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro Regular';
  src: url('/assets/fonts/DINPro-Regular.otf') format('opentype');
}