<template>
  <v-layout
    wrap
    pa-3
    xs12
    class="cards"
  >
    <v-flex
      xs12
    >
      <h4
        class="text-uppercase"
      >
        Look what we found for you!
      </h4>
    </v-flex>
    <Card v-for="card in cards" :key="card.id" v-bind:cardInfo="card"/>
  </v-layout>
  
</template>

<script>
import Card from '../components/Card.vue'

export default {
  name: 'Cards',
  components: {
      Card,
    },
  data () {
    return {
      cards: [
        {
          id: 1,
          event: 'Coachella',
          description: 'Music festival - Indio, California',
          distance: 25,
          topImage: 'balloon.png',
          bgImage: 'coachella-header.jpg',
          bottomImage: 'Jeep-Renegade.png',
          brandName: 'Jeep Renegade',
        },
        {
          id: 2,
          event: 'K-Swiss Desert Smash',
          description: 'Sports - Palm Springs, California',
          distance: 0.3,
          topImage: 'tennis_PNG10405.png',
          bgImage: 'tennis-3.jpg',
          bottomImage: 'Porsche-Boxster.png',
          brandName: 'Porsche Boxster',
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
