<template>
  <v-flex xs12 sm6 pt-5 px-3 class="card">
    <v-layout>
      <v-flex xs10>
        <h2 class="card__event-name text-din-light text-uppercase">{{cardInfo.event}}</h2>
        <p class="card__event-description text-din-medium text-uppercase">{{cardInfo.description}}</p>
      </v-flex>
      <v-flex xs2 text-xs-center>
        <h2 class="card__event-distance text-din-light">{{cardInfo.distance}}</h2>
        <p class="card__distance-unit text-din-medium text-uppercase">Miles</p>
      </v-flex>
    </v-layout>
    <v-card class="theme--dark bg-accent">
      <v-img
        class="card__bg-image white--text"
        height="270px"
        :src="getImageURL(cardInfo.bgImage)"
      >
        <v-container fluid fill-height pa-0>
          <v-layout xs12 class="card__top-image white--text">
            <v-flex xs4 align-end offset-xs6 flexbox>
              <v-img
                contain
                :src="getImageURL(cardInfo.topImage)"
              ></v-img>
            </v-flex>
          </v-layout>
        </v-container>
      </v-img>
      <v-card-title class="bg-accent px-0">
        <v-flex xs6 px-3>
          <h3 class="card__brand-name theme--dark text-uppercase">{{cardInfo.brandName}}</h3>
        </v-flex>
        <v-flex xs6 class="card__bottom-image">
          <v-img
            contain
            :src="getImageURL(cardInfo.bottomImage)"
          ></v-img>
        </v-flex>
      </v-card-title>
    </v-card>
    <v-layout class="card__reserve-button">
      <v-flex>
        <v-img
          contain
          :src="require('../assets/images/Reserve-Now.svg')"
        ></v-img>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
export default {
  props: [
    'cardInfo'
  ],
  data () {
    return {
      info: this.cardInfo
    }
  },
  methods: {
    getImageURL: function (pic) {
      return require('../assets/images/'+pic)
    }
  }
}
</script>

<style lang="scss">
.v-card {
  border-radius: 1em;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.5);
  border-bottom: 5px solid #261a42;
}
.card .card__event-name {
  font-size: 1.3125rem;
}
.card .card__event-description,
.card .card__distance-unit {
  font-size: 0.625rem;
}
.card .card__event-distance {
  font-size: 1.5625rem;
}

.card .card__bgImage {
  position: relative;
  overflow: visible;
}
.card .card__bg-image {
  overflow:visible;
}
.card .card__bg-image .v-image__image {
  border-radius: 1em;
}
.card .card__top-image {
    position: relative;
    top: -20px;
    min-height: 170px;
}
.card .card__top-image .v-image__image {
  max-width: 130px;
}
.card .card__bottom-image {
  height: 0;
}
.card__bottom-image .v-image__image.v-image__image--contain {
    position: absolute;
    top: -80%;
}
.card .v-card__title,
.card .card__bottom-image .v-image {
  overflow: visible;
}
.card .card__reserve-button {
  width: 180px;
  margin-right: 1em;
  margin-left: auto;
  margin-top: -6px;
}
</style>
