<template>
  <v-layout
    wrap
  >
    <v-toolbar 
      app 
      flat 
      dark 
      id="navbar" 
      height="70" 
      class="navbar bg-primary px-0" 
      style="padding: 0 !important;"
    >
      <v-img
        :src="require('../assets/logo.svg')"
        contain
        height="30"
        width="70"
        justify-start
      ></v-img>
      <v-spacer></v-spacer>
      <v-btn
        flat
        class="navbar__cta-btn br-0 grey theme--dark mr-3"
        href="#"
        target="_top"
      >
        <span class="text-din-black theme--dark text--white">Sign In / Join</span>
      </v-btn>
      <v-flex class="navbar__menu-btn bg-accent">
        <v-toolbar-side-icon height="70"></v-toolbar-side-icon>
      </v-flex>
    </v-toolbar>
  </v-layout>
</template>

<script>
export default {
  name: 'Navbar',
  components: {
  },
  data () {
    return {
      //
    }
  }
}
</script>

<style lang="scss">
  #navbar .v-image__image {
    max-width: 100px;
  }
  #navbar .navbar__menu-btn,
  #navbar .v-toolbar__side-icon {
    height: 70px;
    width: 70px;
    max-width: 70px;
    margin: 0;
  }
  #navbar .navbar__cta-btn {
   // 
  }
  #navbar .br-0 {
    border-radius: 0;
  }
  #navbar .v-toolbar__content {
    padding: 0 !important;
  }
</style>