<template>
  <v-layout
    text-xs-center
    wrap
    max-width="500"
  >
    <v-flex>
      <v-btn-toggle class="toggle" v-model="text">
        <v-btn class="toggle__button toggle__button-left text-din-black px-3" flat value="city">
          Search for City
        </v-btn>
        <v-btn class="toggle__button toggle__button-right text-din-black px-3" flat value="map">
          Find on Map
        </v-btn>
      </v-btn-toggle>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'ViewToggle',
  data () {
    return {
      text: 'city',
    }
  }
}
</script>

<style lang="scss">
.toggle {
  font-size: 0.875rem;
  position: relative;
  bottom: 50%;
}
.toggle .toggle__button {
  border: 1px solid $grey-medium;
  border-radius: 0 !important;
  background-color: #fff;
  color: $grey-light;

}
.toggle .toggle__button-left.v-btn--active,
.toggle .toggle__button-right.v-btn--active {
  background-color: #242d33;
  color: #fff;
}
</style>
